modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32859
externalPort = 3001

[[ports]]
localPort = 33389
externalPort = 3000

[[ports]]
localPort = 37377
externalPort = 3003

[[ports]]
localPort = 45205
externalPort = 3002

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://dggsvttamfxncsejyxmy.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnZ3N2dHRhbWZ4bmNzZWp5eG15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwMTMxMDgsImV4cCI6MjA3OTU4OTEwOH0.pGPS0APSy5lO1a-V-Ft9_UKVbyE9oSiCUtPY349nXxM"
